@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
     margin: 0;
     padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(190,218,220,255); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0E2431; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 32, 32); 
  }
html {
     scroll-behavior: smooth;
}

body {
     color: black;
     font-size: 14px;
      font-family: poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #fff;
}
.bg img{
    width: 100%;
    height: 60vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.product-title h2{
    color: #292621;
}
.title{
    float: left;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 30px;
}
.price{
    float: right;
    padding-top: 40px;
    padding-right: 20px;
    font-size: 30px;
}
.stars{
    position: absolute;
    top: 82%;
    left: 4%;
}
.stars p{
    float: right;
}
.seps h2{
    color: grey;
}
.seps {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 60px;
}
.spes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.spes h2{
    color: #292621;
}
.about{
    padding-top: 20px;
    padding-left: 50px;
    list-style: armenian;
}

.back{
    background: rgba(190,218,220,255);
    width: 100%;
    height: 8.5vh;
}
.burger{
    background: rgba(190,218,220,255);
    border-radius: 0%;
    float: right;
    padding: 8px;
    padding-top: 30px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #0E2431;
    margin: 5px;
    transition: all 0.8 ease;
}
 .line1{
    transform:  rotate(-45deg) translate(-5px, 6px);
}
.line2{
opacity: 0;
}
.line3{
    transform:  rotate(45deg) translate(-5px, -6px);
}
.fixed-button1{
    background: #d49217;
    position: fixed;
    width: 380px; 
    height: 55px;
    line-height: 55px;
    bottom: 7%;
    right: 6%;
    border-radius: 36px;
    text-align: center;
    font-size: 1.2rem;
}
.fixed-button1 a{
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
}
.fixed-button2{
    
    background: #cbb2b2;
    position: fixed;
    width: 120px; 
    height: 55px;
    line-height: 55px;
    bottom: 7%;
    left: 8%;
    border-radius: 26px;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fixed-button1:hover{
    background: #805405;
}
.fixed-button2:hover{
    color: black;
    background: black;
}
.fixed-button2 a{
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
}
.buttons div{
    box-shadow: -1px 10px 240px 33px rgba(0,0,0,0.82);
-webkit-box-shadow: -1px 10px 240px 33px rgba(0,0,0,0.82);
-moz-box-shadow: -1px 10px 240px 33px rgba(0,0,0,0.82);
}
.menu ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 6vh;
    padding-top: 5px;
    position: fixed;
    bottom: 0%;
    background: #eee; 
}
.menu ul li{
    list-style: none;
}

@media screen and (min-width:768px){
     .mobile{
        display: none;
    } 

}